/*titulo*/
h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
}


/*quadrado no meio da tela*/
div {
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border: #000000 solid 1px;
    background-color: #42b18a;
}

/*quadrado branco meio da tela*/
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#2D7F62;
    
}

/* Ajusta o tamanho máximo da sua logo */
.logo {
    width: 150px; /* Altere para a largura desejada */
    height: auto; /* Mantém a proporção original da imagem */
    margin-top: 10px; /* Empurra a logo para baixo */
    
}

/* Centraliza a logo no topo da página */
header {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 20px;
}
