<head>
    <meta charset="UTF-8" />
    <title>Área do Paciente Owl Convenial</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paciente.css') }}" />
</head>


<div class="painel-paciente">
  <section class="paciente-header">
    <h1>Olá, {{ paciente.nome }}</h1>
    <p>Bem-vindo à área do paciente.</p>
    <p>aqui ficam suas informações e consultas agendadas.</p>
  </section>

  <section class="consultas-container">
    <h2>Consultas Agendadas</h2>

    {% for consulta in consultas %}

    <div class="consulta-card">
      <h3>{{ consulta.medico }}</h3>

      <p>
        <strong>Especialidade:</strong>
        {{ consulta.especialidade }}
      </p>

      <p>
        <strong>Data:</strong>
        {{ consulta.data }}
      </p>

      <p>
        <strong>Horário:</strong>
        {{ consulta.horario }}
      </p>
    </div>

    {% else %}

    <div class="consulta-vazia">Nenhuma consulta agendada.</div>

    {% endfor %}
  </section>
</div>
