<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Login</title>

    
  <link rel="stylesheet" href="static/css/login.css">

    <!-- Se estiver usando Flask, mantenha esse caminho -->
  
    <link rel="stylesheet"
href="{{url_for('static',
filename='css/login.css')}}">
    
  </head>

  <body>
    <!-- Logo -->
    <a href="static/Assets/img/logo.png">
      <img src="{{ url_for('static',
      filename='Assets/img/logo.png') }}">
      />
    </a>

    <div class="container mt-5">
      <h2>Login</h2>

      <form method="POST">
        <input
          class="form-control mb-3"
          type="email"
          name="email"
          placeholder="Email"
        />

        <input
          class="form-control mb-3"
          type="password"
          name="senha"
          placeholder="Senha"
        />

        <button class="btn btn-primary">Entrar</button>
        <a href="\templates\cadastro.html">cadastre-se</a>
      </form>
    </div>
  </body>
</html>
